*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;


}
nav{
    padding: 20px 10%;
    height: 15vh;

}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right:5%;
    font-weight: 600;
}
nav ul li img{
    width: 100px;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left-side-content{
    width: 40%;
}
.left-side-content h1{
    font-size: 60px;
}
.left-side-content p{
    margin: 5% 0;
}
.left-side-content button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.left-side-content button:hover{
    color: #3b855b;
    background-color: white;
}
.right-side-content{
    /* padding: 7%; */
}
.right-side-content div img{
    width: 30%;
    
}
.right-side-content div img:first-child{
    margin-right: 20px 5px;
}
.last-img{
    width: 50vw;
}


